<div class="container"> 
<form>
<div class="form-group"> 
<h1 class="text-center text-primary">Tags Prediction App</h1>   
<div class="input-group-prepend">       
  <input #quest type="text" class="form-control" placeholder="Your Question" name="quest" ngModel>   
  <span class="input-group-text" (click)="addQuest(quest.value)">Submit</span> 
   
</div>  

<div>
    <span>Question: {{quest.value}} </span>
</div>

<div>
    <span>Predicted Tags: {{ getPredictWords(WordVector(text2Array(quest.value)))}}</span>
    
</div>

</div> 
</form>
</div>